<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<mapping resource="persistence.xml"/>-->

        <property name="connection.url">jdbc:mysql://localhost:3306/galaxy_schema</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="com.github.wkennedy.entities.CarFactEntity"/>
        <mapping class="com.github.wkennedy.entities.EngineDimEntity"/>
        <mapping class="com.github.wkennedy.entities.MakeDimEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>